{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'index.css' %}" />


<br>
{% for s in stock %}
<form action="{% url 'web:cart' %}" method="POST">
    {% csrf_token %}
<p>
{% if s.image%}
<img src="{{s.image.url}}" alt="" srcset="" width="50" height="50">
{% else %}
<img src="{{images.default}}" alt="" srcset="" width="50" height="50">

{% endif %}

{{s.name}} -> {{s.client.username}}
${{s.price}}
<input type="text" value="{{s.pk}}" name="id" hidden>
<input type="number"  name="qt" >
<button type="submit">
    <img src="{{images.arrow}}" alt="" srcset="" width="40" height="20" style="transform:rotate(180deg);">
</button>

<a href="{% url 'web:comunication' %}?item={{s.pk}}">
    <img src="{{images.question}}" alt="" srcset="" width="30" height="15" >
</a>
</p>
</form>
 <br>
{% endfor %}

{% endblock content %}



